@import url(https://fonts.bunny.net/css?family=outfit);

:root {
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    --text-primary: #e7e6e8;
    --text-secondary: #f0efe9;
    --bg-primary: #350065;
    --bg-secondary: #29004e;
}

body {
    color: #3e3e3e;
    background: #fefefe;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background-color: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
    background-color: #7b00ed;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    background: var(--bg-primary);
    height: 100vh;
    position: fixed;
    width: 5rem;
}

.navbar-nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    align-items: center;
    color: var(--text-primary);
    display: flex;
    height: 5rem;
    text-decoration: none;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.link-text {
    display: none;
    margin-left: 1rem;
}
